[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap-v5 = "*"
python-dotenv = "*"
requests = "*"
django-countries = "*"
python-decouple = "*"
django-extensions = "*"
folium = "*"
pytest = "*"
django-tailwind = {extras = ["reload"], version = "*"}
whitenoise = "*"
xmltodict = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
