{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet">
	</head>
<body>
<!-- component -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>I
<div class="w-full text-gray-700 bg-blue-50 dark-mode:text-gray-200 dark-mode:bg-gray-800">
  <div x-data="{ open: false }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
    <div class="p-4 flex flex-row items-center justify-between">
      <div class="h-10 w-10 self-center mr-2">
        <img class="h-10 w-10 self-center" src="{% static 'img/icon.png' %}" />
      </div>
      <a href="{% url 'home' %}" class="text-xl font-lusistana font-semibold tracking-widest text-gray-900 rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">Philanthropic Finders</a>
      <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav :class="{'flex': open, 'hidden': !open}" class="pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
      <form action="{% url 'orgs_search' %}" method="get" >
        <div class="container flex mx-auto">
          <div class="flex border-2 rounded">
            <input type="text" class="px-4 py-2 w-80" name="query" placeholder="Search for Organization by Keyword">
            <button class="flex items-center justify-center px-4 border-r">
              <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24">
                <path
                    d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z">
                </path>
              </svg>
            </button>
          </div>
        </div>
      </form>
      <a class="px-4 py-2 mt-2 bg-gray-light outline outline-slate-700 text-sm font-lusistana font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-2 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Log In</a>
      <a class="px-4 py-2 mt-2 bg-gray-light outline outline-slate-700 text-sm font-lusistana font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-2 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Sign Up</a>
      <a class="px-4 py-2 mt-2 bg-gray-light outline outline-slate-700 text-sm font-lusistana font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-2 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Contact</a>
    </nav>
  </div>
</div>

<div class="pt-12 lg:flex">
  <div class="flex flex-col w-full px-4 py-8 overflow-y-auto border-b lg:border-r lg:h-screen lg:w-64">
    <div class="flex flex-col justify-between mt-6">
      <aside>
        <form action="{% url 'orgs_discover' %}" method="get" class="w-64 mx-auto">
          <label class="block text-left" style="max-width: 300px"></label>
            <span class="text-gray-700 font-lusistana font-bold">Select Charity Category</span>
            {% load themes %}
            {% get_themes as themes %}
            <select class="form-multiselect block mt-1 side-select" style="width: 215px" name="themes" multiple>
              {% for theme in themes %}
                <option>{{theme.name}}</option>
              {% endfor %}
            </select>
          <br>
          <label class="block text-left" style="max-width: 300px"></label>
            <span class="text-gray-700 font-lusistana font-bold">Select Country</span>
            {% load countries %}
            {% get_countries as countries %}
            <select class="form-multiselect block mt-1 side-select" style="width: 215px" name="countries" multiple>
              {% for country in countries %}
                <option>{{country.name}}</option>
              {% endfor %}
            </select>
          <span>
            <br>
              <button class="px-4 py-2 mt-2 bg-gray-light outline outline-slate-700 text-sm font-lusistana font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
                Find Organizations
              </button>
          </span>
        </form>
      </aside>
    </div>
  </div>

  <div>
    {% block body %}{% endblock %}
  </div>
</div>

</body>
</html>
