{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>
  Heatmap with Leaflet
 </title>
 <!-- link to leaflet css --> 
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
 <!-- map is full width and height of device -->
 <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
 <style>
  body{
   padding: 0;
   margin: 0;
  }
  html, body, #map {
   height: 100%;
  }
 </style>
</head>
<body>
 <!-- leaflet js -->
 <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
 <script src="{% static 'js/leaflet-heat.js' %}"></script>
 <script src="{% static 'js/leaflet.ajax.js' %}"></script>
 <div id="map">
 </div>

 <!---
 <script>
  var map = L.map('map',{center: [53.15, -6.7], zoom: 10});
 
  // OSM Baselayer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
 </script>
-->
<!--<script src="{% static 'js/heat_points.js' %}"></script>-->

<script type="text/javascript">

$.ajax({
    url: '/heat_map',//url of the function, this should be set in urls.py
    dataType: 'json',
    jsonpCallback: 'getJson',
    beforeSend: function() {
      $('#loader').show();
    },
    success: function(response) {
      $('#loader').hide();
      if (checked && heat == null){
        heat = L.heatLayer(response.map_remaining, {
            radius: 25,
            blur: 25,
            gradient: {
              0.47: 'blue', 
              0.67: 'lime',
              1.0: 'red'
            }
        }).addTo(map);
      }else if (checked){
        map.addLayer(heat)
      }
    }
  })

</script>

</body>
</html>