{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
    <div class="flex justify-center items-center h-full">
      <div class="text-right text-indigo-900 px-6 md:px-12">
        <h2 class="text-5xl font-bold tracking-tight leading-tight mb-12">
          Search to Save Lives
        </h2>
        <img src="{% static 'img/kitchen.jpg' %}" class="max-w-lg h-auto rounded-lg" alt="..." />
      <div>
    <div>
  </div>

{% endblock %}