{% extends "base.html" %}

{% block title %}Organizations by Search{% endblock %}

{% block body %}

 <!-- Container -->
<div class="container my-12 mx-auto px-4 md:px-12">

    <!-- Grid -->
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">

        <!-- Card -->
        {% for organization in orgs_by_search %}
        
        <div class="rounded-lg shadow-lg bg-white w-full border-indigo-600">
            <a href="{{organization.url}}">
                <img class="rounded-t-lg" src="{{organization.logo_url}}" alt="Organization Logo"/>
            </a>
            <div class="p-6">
                <h5 class="text-gray-900 text-xl font-semibold mb-2 font-lusistana">
                    <a href="{{organization.url}}">{{organization.name}}</a>
                </h5>
                <p class="text-gray-700 text-base mb-4 font-lusistana">
                {{organization.mission}}
                </p>
                  <a href="{% url 'project_detail' org_id=organization.id  %}">
                    <button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out font-lusistana">View Projects</button>
                  </a>
            </div>

        </div> 
        <!-- End Card -->
        {% endfor %}
        
    <div>
    <!--End Grid -->
    
</div>
 <!-- End Container -->

{% endblock %}
