{% extends "base.html" %}

{% block title %}Organizations by Theme{% endblock %}

{% block body %}

 <!-- Container -->
<div class="container my-12 mx-auto px-4 md:px-12">

    <!-- Grid -->
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">


        <!-- Column -->
        {% for organization in orgs_by_theme %}
        
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3"> 

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                    <img alt="Organization Logo" class="block h-auto w-full" src="{{organization.logo_url}}">
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="text-lg">
                        <a class="no-underline hover:underline text-black" href="#">
                            {{organization.name}}
                        </a>
                    </h1>
                    <p class="text-grey-darker text-sm">
                        {{organization.mission}}
                    </p>
                </header>

                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                    <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
                        <span class="hidden">View Projects</span>
                    </a>
                </footer>

            </article>
            <!-- END Article -->

        </div> 
        <!-- END Column -->
        {% endfor %}
        
    <div>
    <!--End Grid -->
    

</div>
 <!-- End Container -->




{% endblock %}

